$container-width:90%;
$header-color: rgb(240, 240, 240);
$text-subTitle-color: rgb(185, 185, 185);
$text-mail-color:rgb(68, 68, 68);
$linkColor:rgb(14, 14, 14);
$search-border-radius:20px;
$card-shadow-radius:0px 2px 5px 0px rgba(158, 158, 158, 0.63);
$button-shadow-radius:0px 2px 5px 0px rgba(150, 150, 150, 0.63);
$text-border-radius:5px;
$avatar-border-radius:50%;
$link-disabled-color:rgb(247, 247, 247);
$text-subTitle-size:0.8rem;
$text-title-size:1.4rem;
$tableBorders:rgb(127, 127, 127);
$tableCellBackground:rgb(236, 236, 236);
$tableInterviewBackground: rgb(204, 204, 204);
$modalBackground: rgba(0, 0, 0, 0.7);
$modalMessageBackground:rgb(254, 254, 254);
$modalCloseBackground: rgb(114, 114, 114);
$modalCloseColor:rgb(255, 255, 255);
$modalCloseShadowRadius:0px 10px 8px 0px rgba(143, 143, 143, 1);
$modalRuleColor:rgb(192, 192, 192);
$modalDescriptionTitlesColor: #ad9292;
$candidateCardBackgroundColor:rgb(232, 234, 246);
$candidateCardBackgroundColorSelected:rgb(200, 200, 255);
$candidateCardBorderColorSelected:rgb(0, 0, 255);
$button-blue:rgb(33, 150, 243);