$container-width:90%;

$header-color: rgb(240, 240, 240);
$text-subTitle-color: rgb(185, 185, 185);
$text-mail-color:rgb(68, 68, 68);

$card-shadow-radius:0px 2px 5px 0px rgba(158, 158, 158, 0.63);
$text-border-radius:5px;
$avatar-border-radius:50%;

$text-subTitle-size:0.8rem;
$text-title-size:1.4rem;

$tableBorders:rgb(127,127,127);
$tableCellBackground:rgb(236,236,236);