@import "variables";
@import "mixins";
@import "tables";
@import "modals";
article {
    margin: 25px auto 0 auto;
}

button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

@media(min-width:768px) {
    .modal-message {
        width: 50%;
        border-radius: 5px 5px 0 0;
    }
    .candidate-img-large {
        width: 33%;
        float: left;
        margin-right: 5px;
        margin-bottom: 30px;
    }
    .table-content{
        font-size: 1rem;
    }
    .table-candidate-details {
        float: left;
        width: 66%;
        padding: 50px 0 100px 0;
        td {
            width: 50%;
        }
        tr:nth-of-type(even) {
            padding-left: 30px;
        }
        tr {
            line-height: 20px;
        }
    }
    .article-candidate-details {
        padding-bottom: 165px;
    }
    .article-interview-details {
        clear: both;
    }
}

@media (min-width:992px) {
    .table-interview-details {
        text-align: left;
    }
    .table-candidate-details {
        font-size: $text-title-size;
        tr {
            line-height: 40px;
        }
    }
}

@media (min-width:1200px) {
    .candidate-img-large {
        margin-right: 10px;
        margin-bottom: 30px;
    }
    .article-candidate-details {
        padding-bottom: 230px;
    }
}